---
layout: base.njk
---
<main>
  <div id="map"></div>
  <script>
  var map = L.map('map').setView([49, -123.5117], 8);

  var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  {%- for repeater in repeaters %}
    {%- if repeater.coverage and repeater.active -%}
    var imageUrl = '/images/coverage/{{ repeater.coverage_overlay }}';
    var altText = 'Coverage from {{ repeater.name }}';
    var latLngBounds = L.latLngBounds([[{{ repeater.coverage_bounds[0][0] }}, {{ repeater.coverage_bounds[0][1] }}],[{{ repeater.coverage_bounds[1][0] }}, {{ repeater.coverage_bounds[1][1] }}]]);

    var imageOverlay = L.imageOverlay(imageUrl, latLngBounds, {
        opacity: 0.8,
        alt: altText,
        interactive: true
    }).addTo(map);
    {%- endif -%}
  {%- endfor -%}

  </script>
  <article>
    {{ content | safe }}
  </article>
</main>
