---
layout: base.njk
---
<main>
  <div id="map"></div>
  <script>
      var map = new maplibregl.Map({
          container: 'map',
          style: {
            "version": 8,
            "sources": {
              "osm": {
                "type": "raster",
                "tiles": ["https://a.tile.openstreetmap.org/{z}/{x}/{y}.png"],
                "tileSize": 256,
                "attribution": "&copy; OpenStreetMap Contributors",
                "maxzoom": 19
              }
            },
            "layers": [
              {
                "id": "osm",
                "type": "raster",
                "source": "osm"
              }
            ]
          },
          center: [ -123.5117, 48.4768 ],
          zoom: 8
      });

      map.on('load', () => {
        map.addSource('monkey-sparkles', {
            'type': 'image',
            'url': '/images/coverage/monkey-sparkles.png',
            'coordinates': [[-124.8365, 49.43115], [-122.1204, 49.43115], [-122.12040, 47.6325], [-124.8365, 47.6325]]
        });
        map.addLayer(
            {
                'id': 'monkey-sparkles-coverage',
                'type': 'raster',
                'source': 'monkey-sparkles',
                "paint": {
                    "raster-opacity": 0.8
                }
            },
        );
    });
  </script>
  <article>
    {{ content | safe }}
  </article>
</main>
