<nav>
<ul>
{% set topNav = collections.all | eleventyNavigation %}

    {%- for item in topNav -%}
      {%- if item.url -%}
        {%- set isParent = page.url == '/' and item.url in page.url -%}
        <li{% if isParent or item.url == page.url %} class="my-active-class"{% endif %}>
          <a
            href="{{ item.url }}"
            {% if item.url == page.url %}aria-current="page"{% endif %}>
            {{ item.title }}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
</ul>
</nav>
